{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": ["*.html", "*.astro"],
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx"
      }
    },

    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "singleQuote": false,
        "printWidth": 100
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100
}
