---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		This is the about me section, where I will fill in details about myself, and my relevant history.

	</p>

	<h2 class="title mt-8">Education:</h2>
	<ul class="list-inside list-disc ml-8">
		<li>SL Community College : General courses </li>
		<li>SL University : Dual Major - Biochemistry, Russian Studies</li>
		<li>SNH University : Major - Computer Science </li>
	</ul>
	<h2 class="title mt-6">Employment:</h2>
	<ul class="list-inside list-disc ml-8">
		<li>FedEX - Lead Production Coordinator - 3 years </li>
		<li>UPS- Dispatch Supervisor - 3 years  </li>
		<li>TimeKeep - Web Store Developer & Manager - 6 years:  </li>
	</ul>

	<!-- <p class="mt-4"> -->
	<!-- 	Clone or fork my  -->
	<!-- 	<a -->
	<!-- 		class="cody-link inline-block" -->
	<!-- 		href="https://github.com/ddJProj" -->
	<!-- 		target="_blank" -->
	<!-- 		rel="noopener noreferrer" -->
	<!-- 		aria-label="github repository" -->
	<!-- 	> -->
	<!-- 		repo -->
	<!-- 	</a> -->
	<!-- 	if you like me! -->
	<!-- </p> -->


		<div class="mt-16">
			This theme was based on the following two themes:
			<a 
				class="cody-link" 
				href="https://astro-theme-cactus.netlify.app"
				target="_blank"
				rel="noopener noreferrer"
			>Astro Cactus</a>
			and
			<a 
				class="cody-link" 
				target="_blank"
				rel="noopener noreferrer"
				href="https://risotto.joeroe.io"
			>Risotto</a>.
		</div>
</Layout>

