---
import Layout from '../layouts/Base.astro';

const tech: Array<{ title: string; desc: string; href: string }> = [
    {
        title: "C++",
        desc: "Learn this versatile and powerful programming language.",
        href: "https://cplusplus.com/",
    },    
    {
        title: "Rust",
        desc: "A language empowering everyone to build reliable and efficient software.",
        href: "https://www.rust-lang.org/",
    },    
    {
        title: "Java",
        desc: "Free-to-use, and a versatile language designed for ease of use.",
        href: "https://www.java.com/en/",
    },    
    {
        title: "Kotlin",
        desc: "Concise. Multiplatform. Fun.",
        href: "https://kotlinlang.org/",
    },
    {
        title: "MySQL",
        desc: "The world's most popular open source database",
        href: "https://www.mysql.com/why-mysql/",
    },
    {
        title: "MongoDB",
        desc: "Built by developers, for developers",
        href: "https://www.mongodb.com/",
    },
    {
        title: "X86 Assembly",
        desc: "Machine-specific and low-level, for detailed and time-critical applications.",
        href: "https://docs.oracle.com/cd/E19641-01/802-1948/802-1948.pdf",
    },    
    {
        title: "Markdown",
        desc: "Simple and easy-to-use markup language.",
        href: "https://www.markdownguide.org/",
    },    
    {
        title: "Astro",
        desc: "Build fast websites, faster.",
        href: "https://astro.build",
    },    
];


---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		Born and raised in Tallahassee, I spent close to a decade in St. Louis, MO (2012-2019). I bought a short sale home in the city, and performed a full gut-rehab on it while I was working full-time and attending college. I lived in St. Louis until 2019, at which point I sold my house and moved back to Florida to focus on my education full-time. My formal education in Computer Science prior to completing my B.S. degree was limited to taking web design, C++, and a few general I.T. related courses in high school. I have several years of experience with web-development, as that was one of the jobs I held long term in St. Louis. 
	</p>

	<h1 class="title mt-8">Education:</h1>
	<ul class="list-inside list-disc ml-8">
		<li>SL Community College : General courses </li>
		<li>SL University : Dual Major - Biochemistry B.S., Russian Studies (Language, History, & Culture) B.S.</li>
		<li>SNH University : Major - Computer Science B.S.</li>
	</ul>
	<h1 class="title mt-6">Employment:</h1>
	<ul class="list-inside list-disc ml-8">
		<li>FedEX - Lead Production Coordinator (Production Manager) - 3 years </li>
		<li>UPS - Dispatch Supervisor - 3 years  </li>
		<li>TimeKeep - Web Store Developer & Manager - 6 years:  </li>
	</ul>

	<!-- Technologies section -->
	<section class="mt-8">
			<h1 class="title">Technologies</h1>
			<ul class="space-y- sm:space-y-1">
				{
					tech.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cody-link inline-block"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-0">{desc}</p>
						</li>
					))
				}
			</ul>	

		</section>


	<!-- <p class="mt-4"> -->
	<!-- 	Clone or fork my  -->
	<!-- 	<a -->
	<!-- 		class="cody-link inline-block" -->
	<!-- 		href="https://github.com/ddJProj" -->
	<!-- 		target="_blank" -->
	<!-- 		rel="noopener noreferrer" -->
	<!-- 		aria-label="github repository" -->
	<!-- 	> -->
	<!-- 		repo -->
	<!-- 	</a> -->
	<!-- 	if you like me! -->
	<!-- </p> -->


		<div class="mt-16">
			This theme was based on the following two themes:
			<a 
				class="cody-link" 
				href="https://astro-theme-cactus.netlify.app"
				target="_blank"
				rel="noopener noreferrer"
			>Astro Cactus</a>
			and
			<a 
				class="cody-link" 
				target="_blank"
				rel="noopener noreferrer"
				href="https://risotto.joeroe.io"
			>Risotto</a>.
		</div>
</Layout>

