---
import BaseLayout from '../layouts/Base.astro';

import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

const tech: Array<{ title: string; desc: string; href: string }> = [

	{
		title: "C++",
		desc: "Learn this versatile and powerful programming language.",
		href: "https://cplusplus.com/",
	},	
	{
		title: "Rust",
		desc: "A language empowering everyone to build reliable and efficient software.",
		href: "https://www.rust-lang.org/",
	},	
	{
		title: "Java",
		desc: "Free-to-use, and a versatile language designed for ease of use.",
		href: "https://www.java.com/en/",
	},	
	{
		title: "Kotlin",
		desc: "Concise. Multiplatform. Fun.",
		href: "https://kotlinlang.org/",
	},
	{
		title: "MySQL",
		desc: "The world's most popular open source database",
		href: "https://www.mysql.com/why-mysql/",
	},
	{
		title: "MongoDB",
		desc: "Built by developers, for developers",
		href: "https://www.mongodb.com/",
	},
	{
		title: "X86 Assembly",
		desc: "Machine-specific and low-level, for detailed and time-critical applications.",
		href: "https://docs.oracle.com/cd/E19641-01/802-1948/802-1948.pdf",
	},	
	{
		title: "Markdown",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},	
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},	

	// {
	// 	title: "Astro Assets",
	// 	desc: "Built-in optimized asset support.",
	// 	href: "https://docs.astro.build/en/guides/assets/",
	// },
	
	// {
	// 	title: "Tailwind CSS",
	// 	desc: "Rapidly build modern websites without ever leaving your HTML.",
	// 	href: "https://tailwindcss.com",
	// },

	// {
	// 	title: "MDX",
	// 	desc: "Markdown for the component era.",
	// 	href: "https://mdxjs.com/",
	// },
	// {
	// 	title: "Astro Icon",
	// 	desc: "An easy to use Icon component for Astro.",
	// 	href: "https://github.com/natemoo-re/astro-icon#readme",
	// },
];

---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Hello! I'm Edd. Welcome to my blog and portfolio.</h1>
		<p class="mb-4 sm:mb-8">
			<h4>I'm a recent Computer science graduate, based in Florida's capital city, Tallahassee. </h4>
			<ul class="list-disc pl-5 space-y-2">
			<li>I am in the process of applying for master's programs in computational science, and data science. </li>
			<li>I am looking for back-end / full stack software engineering positions, or similar internships. </li>
			<li>I have a background in biochemistry, and I am a proficient, highly driven, problem solver. </li>
			<li>I would like to eventually find a position that works closely with material sciences, machine learning, firmware/low-level embedded systems, or operating systems development.</li>
			</ul>
		</p>
		<!-- <div> -->
		<!-- 	<span>You can find me on: </span> -->
		<!-- 	<SocialMediaLinks/> -->
		<!-- </div> -->
	</section>

	<section class="mt-8 sm:mt-10">
		<h1 class="title">Recent Posts:</h1>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>
	<section class="mt-8">
	<!-- 

			<h1 class="title">Technologies</h1>
			<ul class="space-y- sm:space-y-1">
				{
					tech.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cody-link inline-block"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-0">{desc}</p>
						</li>
					))
				}
			</ul>	
	-->
		<div class="mt-8 sn:mt-12">
			<h1 class="title">Find me on: </h1>
			<SocialMediaLinks/>
		</div>

		</section>
</BaseLayout>
