---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import { siteConfig } from "../consts.ts";

interface Props {
		title?: string;
		description?: string;
		image?: string;
		articleDate?: string
}

const { 
	title = siteConfig.title, 
	description = siteConfig.description,
	image,
	articleDate
	} = Astro.props;

---
<!doctype html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={title} description={description} image={image} articleDate={articleDate}/>
	</head>
	<body>
		<Header/>
<main class="grid grid-cols-1 gap-y-4 lg:grid-cols-[minmax(0,1fr)_300px] sm:gap-x-4 max-w-7xl mx-auto">

  <slot/>
  <slot name="sidebar"/>
</main>
		<Footer/>
	</body>
</html
